/* CSS Reset */
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* css variable */
:root{
  --navbar-height: 59px;
}
/* navbar */
#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
#navbar::before{
  content: "";
  top: 0px;
  left: 0px;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

/* navbar: logo and image */
#logo {
  margin: 3px 19px;
}
#logo img{
  border-radius: 50%;
  margin: 5px 5px;
  height: 60px;
}

/* navbar: List */
#navbar ul{
  display: flex;
}

#navbar ul li{
  /* color: white; */
  font-family: 'Baloo Bhai 2', cursive;
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: rgb(255, 255, 255);
  display: block;
  padding: 0px 7px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black;
  background-color: grey;
}

/* Home section */

#home{
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  height: 620px;
  justify-content: center;
  align-items: center;

}
#home::before{
  content: "";
  background: url(../Assests/SEC.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.69;
}

/* utility class */

.h-primary{
  font-size: 3.8rem;
  font-family: 'Bree Serif', serif;
  padding: 12px;
}

.h-secondary{
  font-size: 2.3rem;
  font-family: 'Bree Serif', serif;
  padding: 12px;
}

.btn{
  cursor: pointer;
  padding: 6px 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(133, 2, 255);
  color: white;
  margin: 15px;
  font-family: 'Baloo Bhai 2', cursive; 
  font-size: 1.5rem;

}

.center{
  text-align: center;
}
/* home h1 */
#home h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Bree Serif', serif;
}

/* home p */

#home p{
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: 'Bree Serif', serif;
}

/* Servises section */
#Services{
  display: flex;
  margin: 30px;
}

#Services .Box{
  border: 3px solid red;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 28px;
  background: #f2f2f2;
}

#Services .Box img{
  display: block;
  height: 180px;
  margin: auto;
}

#Services .Box p{
  font-family: 'Bree Serif', serif;  
}

/* about us */
#about-us{
  display: relative;
  /* border: 2px solid red; */
}

#about-us::before{
  content: "";
  position: absolute;
  background: url(../Assests/store1.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}
.about-item{
  padding: 34px;
  /* border: 2px solid green; */
}

#abouts{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

#abouts img{
  height: 124px;
}

/* contact section */
#contact{
  display: relative;
  /* border: 2px solid greenyellow; */
}

#contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url(../Assests/picon.png) no-repeat center center/cover;
  z-index: -1;
}

#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form{
  width: 40%;
}

#contact-box label{
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;
}
/* footer */
footer{
  background: black; 
  color: white;
  padding: 9px 20px;
}